# general
thread_small := 6
thread_large := 30
maxjob := 20
queue  := all.q,avx.q,blast.q,centos7
slots  := 2

# input
genome    := /WORK/Bio/Project/xiek/pipe/assembly/dedup/rawcanu.fa
readlist  := /WORK/Bio/Project/xiek/pipe/assembly/dedup/readlist.xls
whitelist := none
blacklist := none
mlength   := 1000

# k-mer
kmer      := 21
lowkmer   := 3
upkmer    := 10000

# mapping
lpara   := --very-sensitive -k 1000 --score-min L,-0.6,-0.2 --end-to-end --reorder

# dedup
mkcov     := 30
mindup    := 0.3
purgeDups := T
purgeData := ngs
tgstype   := hifi

# software
perl       := /Bio/bin/perl
parallel   := /Bio/bin/parallel
jellyfish  := /Bio/software/anaconda3/envs/jellyfish/bin/jellyfish
purge_dups := /Bio/software/anaconda3/envs/purge_dups
bwamem2    := /Bio/bin/bwa-mem2
minimap2   := /Bio/software/anaconda3/envs/minimap/bin/minimap2
samtools   := /Bio/bin/samtools-1.14
pigz       := /Bio/software/anaconda3/envs/pigz/bin/pigz
bamdeal    := /Bio/pipeline/genome/assemble/bin/kmerDedup/BamDeal-0.27/bin/BamDeal_Linux
bowtie2    := /Bio/software/anaconda3/envs/bowtie2
qsub       := /Bio/bin/qsub-sge.pl
